# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
*.jks
*.keystore
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.DS_Store

# Logs
*.log

# Android
app/release/keystore.properties
